* {zoom: 1;}

html, body {
width: 100%;
height: 100%;
	background-color: #8000D3;
	font-family: helvetica, sans-serif;
	font-size: 16px;
	padding: 0;
	margin: 0;
	background-image: url('images/website/webtreats_light_wood1b.jpg');
}

a, img {border:none;	}

address, article, aside, canvas,
figcaption, figure, footer, header,
hgroup, nav, section, summary {
display: block;
}

a:link {color: #fff;text-decoration: none;}
a:visited {color: #fff;text-decoration: none;}
a:hover, a:focus {color: #ffee00;text-decoration: none;text-shadow: 0 0 5px yellow;}
a:active {color: #fff;text-decoration: none;}

ul {
	list-style: none;
}

/* HEADER */
#header {
	max-width: 960px;
	min-width: 960px;
	margin: 10px auto -20px;
}

.logo {
	width: 300px;
	height: 75px;
	background-image: url('images/website/sslogo.png');
	position: relative;
	margin: 0 auto;
	transition: background-image .5s ease-out; 
	-webkit-transition: background-image .5s ease-out;
	-moz-transition: background-image .5s ease-out;
	-o-transition: background-image .5s ease-out;
}

.logo:hover {
	background-image: url('images/website/sslogo-hover.png');
}

.logo:active {
	-webkit-transition: background-image .5s ease-out;
}

.headerinfo {
	color: #fff;
	font-size: 18px;
	float: right;
	margin-left: 15px;
}

/* NAV */
.nav {
	width: 100%;
	height: 40px;
	background-color: #8000D3;
	box-shadow: 0 0px 5px #000;
}

.navblock {
	position: relative;
	max-width: 960px;
	top: 8px;
	margin: 0 auto;
	
}	

.navblock p {
	font-family: "adelle", sans-serif;
	min-width: 960px;	
	color: #fff;
	text-align: center;
	font-size: 24px;
	text-shadow: 1px 1px 2px #000
}

.navlink {
	margin: 0 10px;
}


/* MAIN CONTENT */
#maincontent {
	width: 100%;
	margin: -38px auto;
	background-image: url('images/website/straws.png');
}

.contentblock {
	width: 960px;
	margin: 20px auto;
	padding: 20px 0;
}

.shadowtop {
	position: relative;
	background-image: url('images/website/shadow_top.png');

	min-width: 100%;
	top: 0;
	height: 20px;
	background-repeat: repeat-x;

}

.shadowbottom {
	position: relative;
	background-image: url('images/website/shadow_bottom.png');
	bottom: 0;
	min-width: 100%;
	height: 20px;
	background-repeat: repeat-x;

}


/* INDEX */
.tileblock {
	width: 100%;
	margin: 0 auto;
}

.tileblock img {
	float: left;
	margin: 2%;
	width: 46%;
	border-radius: 10px;
}

.indexblock {
	float: left;
	width: 400px;
	height: 250px;
	margin: 20px;
	transition: box-shadow .5s ease-out; 
	-webkit-transition: box-shadow .5s ease-out;
	-moz-transition: box-shadow .5s ease-out;
	-o-transition: box-shadow .5s ease-out;
	border-radius: 10px;
	font-family: "adelle", serif;
	text-align: center;
	line-height: 0;
}

.indexblock .text {
	visibility:hidden;
	opacity: 0;
	transition: all .5s ease-out; 
	-webkit-transition: all .5s ease-out;
	-moz-transition: all .5s ease-out;
	-o-transition: all .5s ease-out;
}

.indexblock:hover .text {
	visibility:visible;
	opacity: 1;
	color: #fff;
	text-shadow: 2px 2px 5px #000;
}

.indexblock:active .text {
	-webkit-transition: opacity .5s ease-out;
}

.indexblock:hover {
	box-shadow: 0 0 15px #8000D3;
}

.indexdog {
	background: url('images/tiledog.jpg') #8000D3;
	font-size: 140px;
	
}

.indexcat {
	background: url('images/tilecat.jpg') #6800CF;
	font-size: 140px;
	
}

.indexhorse {
	background: url('images/tilehorse.jpg') #8000D3;
	font-size: 100px;
	line-height: 80px;
	
}

.indexfix {
	background: url('images/tilecow.jpg') #8000D3;
	font-size: 75px;
	line-height: 120px;
}

.pagetitle a:hover {
	color: #8300CE;
	text-shadow: none;
}

/* STA-NATURAL LINK */
.promotional {
	width: 350px;
	margin: 40px auto 0;
	text-align: center;
	background-color: #5B9C00;
	padding: 20px;
	box-shadow: inset 0 0 10px #000;
}

.promotional img {
	float: left;
	width: 80px;
	height: 80px;
	margin-top: -5px;
	vertical-align: middle;
	margin-right: 10px;
}

/* MULTIPAGE */
h1 {
	font-family: "adelle", sans-serif;
	text-align: center;
	margin: 0 auto -10px;
	color: #8000D3;
	
}

.pageblock {
	width: 660px;
	margin: 0 auto;
}

.blockimg {
	margin: 20px;
	border: 2px solid #8000D3;

}

.pageblurb {
	height: auto;
	padding: 20px;
	background-color: #8000D3;
	color: white;
	margin: 40px auto 10px;
	border-radius: 10px;
}


/* SHOPPING */
.introvid {
	width: 420px;
	height: auto;
	margin: 10px auto;
	border: 1px #8300CE solid;
}

.madeinusa {
	width: 720px;
	height: auto;
	margin: 10px auto;
	border: 1px #8300CE solid;
}

.introcaption {
	text-align: center;
	max-width: 400px;
	margin: 0 auto;
}

.shopblock {
	float: left;
	max-width: 420px;
	height: 345px;
	margin: 30px;
}

.shopblock img {
	float: left;
	margin: 0 10px;
	max-width: 150px;
	max-height: 280px
}

.bucket {
	padding-top: 40px;
}

h3 {
	position: relative;
	top: 20px;
	font-family: "adelle", sans-serif;
	font-size: 22px;
	text-align: center;
}

.subtitle {
	text-align: center;
	font-style: bold;
	font-size: 18px;
	font-family: "adelle", sans-serif;
	color: white;
	background-color: #AB80D8;
	padding-top: 8px;
	padding-bottom: 5px;
}

.productdesc {
	height: 75px;
}

.qty {
	text-align: left;
	padding-right: 20px;
	font-style: italic;
}

.call {
	text-align: right;
}

.price {
	text-align: right;
	padding-right: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}

.shopbuttons {
	width: 420px;
	margin: 0 auto;
	color: #8000D3;
	font-family: "adelle", sans-serif;
	text-align: center;
}

.buynow {
/* TEMPORARY */	
	display: none;
/* TEMPORARY */	
	color: white;
	float: right;
	background-color: #10c200;
	padding: 12px 10px 10px;
	margin-left: 10px;
	border-radius: 10px;	
}

/* \/\/\/ TEMPORARY */	
.calltoorder {
	text-align: center;
	font-family: "adelle", sans-serif;
	font-size: 24px;
}
.calltoorder a:link {
	color: black;
}

.ordergroup {
	width: 130px;
	float: left;
}
.ordername {
	text-align: center;
	text-indent: 12px;
}
.orderbutton {
	width: 100px;
	margin-left: 20px;
}

.texaslink {
	font-size: 14px;
	color: black;
}

.texaslink a:link {
	color: black;
}

/* ^^^^^^ TEMPORARY */	

.moreinfo {
	/* TEMPORARY */
		display: none;
	/* TEMPORARY */
	float: right;
	background-color: #10c200;
	padding: 12px 10px 10px;
	border-radius: 10px;
	margin-left: 20px;
}

.allbutton {
	width: 260px;
	margin: 20px auto;
	background-color: #8000D3;
	font-family: "adelle", sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: white;
	text-align: center;
	padding: 1px 10px;
	border-radius: 15px;
}


/* MORE INFO PAGES */
.moreblock {
	position: relative;
	max-width: 960px;
	margin: 0 auto;
}

.moreproduct {
	max-width: 200px;
}

.moreimg {
	max-width: 550px;
	height: 300px;
	margin: 20px auto 30px;
}

.skinnyproduct {
	margin-left: 50px;
}

.submore {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	font-size: 22px;
}

.animalsq {
	border: 2px solid #8000D3;
	margin-left: 40px;
}

.veternarian {
	text-align: left;
	font-family: "adelle", sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #8300CE;
}

.moredesc {
	max-width: 600px;
	height: auto;
	padding-top: 20px;
	margin: 0 auto;
}

.morevid {
	width: 400px;
	height: 225px;
	float: left;
	margin: 0 0 20px 60px;
	border: 1px #8300CE solid;
}

.morelist {
	list-style: none;
	font-family: "adelle", sans-serif;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	line-height: 1.5;
	margin-top: 50px
}

h4 {
	text-align: center;
	font-family: "adelle", sans-serif;
	font-size: 18px;
}

.bigquote {
	float: left; 
	color: #AC7ED5; 
	font-size: 150px; 
	line-height: 80px; 
	padding-top: 4px; 
	padding-right: 8px; 
	padding-left: 3px; 
	font-family: Georgia, "Times New Roman", Times, serif;
}

.quoteblock {
	width: 600px;
	margin: 0 auto;
}

.quoteblock img {
	float: right;
	padding-left: 10px;
}

.quotename {
	font-style: italic;
	text-align: right;
}

.ingredientblock {
	max-width: 800px;
	margin: 0 auto;
}

.ingredientlist {
	width: 250px;
	float: left;
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 0;
}

.listleft {
	text-align: left;
	float: left;
}

.listright {
	text-align: right;
}

.ingredients {
	margin-right: 40px;
}

.moreprice {
	float: left;
	margin-left: 20px;
	margin-right: 20px;
}

.morebuy {
	float: left;
}


/* FOOTER */
#footer {
	display: block;
	overflow: hidden;
	width: 100%;
	height: 100px;
	margin-bottom: -10px;
	background-color: #8000D3;
	box-shadow: 0 0px 5px #000;
}

.footerblock {
	position: relative;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	color: white;
}

.footeritem {
	float: left;
}

.footerlogo img {
	position: relative;
	top: 25px;
	left: 20px;
	width: 200px;
	height: auto;
}

.footerinfo {
	margin-left: 80px;
}

.footericons {
	margin-left: 60px;
	text-align: center;
}

.footericons img {
	width: 32px;
	height: auto;
	vertical-align: middle;
	margin-right: 5px;
}


.footerlinks {
	margin-left: 30px;
}

.footerlinks li {
	list-style: none;
}

#footer, .push {
	height: 100px;
	clear: both;
}

/* EXTRAS */
.clear {
	clear: both;
}

.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -100px;
}

hr {
	border: 0;
	height: 1px;
	margin-top: 20px;
	background-image: -webkit-linear-gradient(left, rgba(131,0,206,0), rgba(131,0,206,1), rgba(131,0,206,0)); 
	background-image:    -moz-linear-gradient(left, rgba(131,0,206,0), rgba(131,0,206,1), rgba(131,0,206,0));
	background-image:     -ms-linear-gradient(left, rgba(131,0,206,0), rgba(131,0,206,1), rgba(131,0,206,0)); 
	background-image:      -o-linear-gradient(left, rgba(131,0,206,0), rgba(131,0,206,1), rgba(131,0,206,0));
}

/* MOBILE */

